-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: enrollzy
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `home_services`
--

DROP TABLE IF EXISTS `home_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `footer_text` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_services`
--

LOCK TABLES `home_services` WRITE;
/*!40000 ALTER TABLE `home_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `home_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_benefits`
--

DROP TABLE IF EXISTS `home_benefits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_benefits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `reward_amount` varchar(255) DEFAULT NULL,
  `content` text DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_benefits`
--

LOCK TABLES `home_benefits` WRITE;
/*!40000 ALTER TABLE `home_benefits` DISABLE KEYS */;
/*!40000 ALTER TABLE `home_benefits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `homepage_sections`
--

DROP TABLE IF EXISTS `homepage_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `homepage_sections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `section_key` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `subtitle` text DEFAULT NULL,
  `cta_title` varchar(255) DEFAULT NULL,
  `cta_url` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`settings`)),
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_visible` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `homepage_sections_section_key_unique` (`section_key`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `homepage_sections`
--

LOCK TABLES `homepage_sections` WRITE;
/*!40000 ALTER TABLE `homepage_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `homepage_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noteworthy_categories`
--

DROP TABLE IF EXISTS `noteworthy_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noteworthy_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `noteworthy_categories_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noteworthy_categories`
--

LOCK TABLES `noteworthy_categories` WRITE;
/*!40000 ALTER TABLE `noteworthy_categories` DISABLE KEYS */;
INSERT INTO `noteworthy_categories` VALUES (1,'Trending Skills','trending-skills',0,1,'2026-01-01 23:51:40','2026-05-27 00:37:04'),(2,'Free Courses','free-courses',0,1,'2026-01-01 23:51:47','2026-05-27 00:36:41'),(3,'Trending Programmes','trending-programmes',0,1,'2026-01-01 23:51:54','2026-05-27 00:36:18');
/*!40000 ALTER TABLE `noteworthy_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noteworthy_mentions`
--

DROP TABLE IF EXISTS `noteworthy_mentions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noteworthy_mentions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `noteworthy_category_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `badge_text` varchar(255) DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `noteworthy_mentions_slug_unique` (`slug`),
  KEY `noteworthy_mentions_noteworthy_category_id_foreign` (`noteworthy_category_id`),
  CONSTRAINT `noteworthy_mentions_noteworthy_category_id_foreign` FOREIGN KEY (`noteworthy_category_id`) REFERENCES `noteworthy_categories` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noteworthy_mentions`
--

LOCK TABLES `noteworthy_mentions` WRITE;
/*!40000 ALTER TABLE `noteworthy_mentions` DISABLE KEYS */;
/*!40000 ALTER TABLE `noteworthy_mentions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trending_skills`
--

DROP TABLE IF EXISTS `trending_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trending_skills` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `sort_order` int(11) DEFAULT 0,
  `status` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trending_skills`
--

LOCK TABLES `trending_skills` WRITE;
/*!40000 ALTER TABLE `trending_skills` DISABLE KEYS */;
INSERT INTO `trending_skills` VALUES (1,'Test','test',0,1,'2026-07-29 23:40:38','2026-07-29 23:40:38');
/*!40000 ALTER TABLE `trending_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organisations`
--

DROP TABLE IF EXISTS `organisations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organisations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `organisation_id_number` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `is_top` tinyint(4) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `organisation_type_id` bigint(20) unsigned DEFAULT NULL,
  `brand_type` varchar(255) DEFAULT NULL,
  `central_authority` varchar(255) DEFAULT NULL,
  `franchise_partner_name` varchar(255) DEFAULT NULL,
  `franchise_start_year` varchar(255) DEFAULT NULL,
  `brand_compliance_verified` varchar(255) DEFAULT NULL,
  `head_office_location` varchar(255) DEFAULT NULL,
  `university_id` char(36) DEFAULT NULL,
  `brand_name` varchar(255) DEFAULT NULL,
  `short_name` varchar(255) DEFAULT NULL,
  `abbreviation` varchar(255) DEFAULT NULL,
  `logo_url` varchar(255) DEFAULT NULL,
  `cover_image_url` varchar(255) DEFAULT NULL,
  `established_year` int(11) DEFAULT NULL,
  `university_type` varchar(255) DEFAULT NULL,
  `ownership_type` varchar(255) DEFAULT NULL,
  `about_university` text DEFAULT NULL,
  `vision_mission` text DEFAULT NULL,
  `core_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`core_values`)),
  `degree_awarding_authority` tinyint(1) DEFAULT NULL,
  `ugc_recognized` tinyint(1) DEFAULT NULL,
  `ugc_approval_number` varchar(255) DEFAULT NULL,
  `aicte_approved` tinyint(1) DEFAULT NULL,
  `naac_accredited` tinyint(1) DEFAULT NULL,
  `naac_grade` varchar(255) DEFAULT NULL,
  `nirf_rank_overall` int(11) DEFAULT NULL,
  `nirf_rank_category` int(11) DEFAULT NULL,
  `international_accreditations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`international_accreditations`)),
  `statutory_approvals` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`statutory_approvals`)),
  `recognition_documents` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`recognition_documents`)),
  `governing_body_name` varchar(255) DEFAULT NULL,
  `chancellor_name` varchar(255) DEFAULT NULL,
  `vice_chancellor_name` varchar(255) DEFAULT NULL,
  `autonomous_status` tinyint(1) DEFAULT NULL,
  `university_category` varchar(255) DEFAULT NULL,
  `number_of_campuses` int(11) DEFAULT NULL,
  `number_of_constituent_colleges` int(11) DEFAULT NULL,
  `number_of_affiliated_colleges` int(11) DEFAULT NULL,
  `levels_offered` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`levels_offered`)),
  `institute_id` char(36) DEFAULT NULL,
  `about_organisation` text DEFAULT NULL,
  `registered_entity_name` varchar(255) DEFAULT NULL,
  `registration_number` varchar(255) DEFAULT NULL,
  `gst_registered` tinyint(1) DEFAULT NULL,
  `gst_number` varchar(255) DEFAULT NULL,
  `pan_number` varchar(255) DEFAULT NULL,
  `legal_documents_urls` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`legal_documents_urls`)),
  `school_id` char(36) DEFAULT NULL,
  `exam_conducting_body_id` char(36) DEFAULT NULL,
  `counselling_body_id` char(36) DEFAULT NULL,
  `managing_trust_or_society_name` varchar(255) DEFAULT NULL,
  `minority_status` tinyint(1) DEFAULT NULL,
  `minority_type` varchar(255) DEFAULT NULL,
  `education_boards_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`education_boards_supported`)),
  `medium_of_instruction_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`medium_of_instruction_supported`)),
  `international_curriculum_supported` tinyint(1) DEFAULT NULL,
  `education_levels_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`education_levels_supported`)),
  `streams_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`streams_supported`)),
  `pedagogy_model` varchar(255) DEFAULT NULL,
  `focus_areas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`focus_areas`)),
  `centralized_curriculum_framework` tinyint(1) DEFAULT NULL,
  `centralized_teacher_training` tinyint(1) DEFAULT NULL,
  `centralized_assessment_policy` tinyint(1) DEFAULT NULL,
  `centralized_lms_available` tinyint(1) DEFAULT NULL,
  `centralized_parent_communication_system` tinyint(1) DEFAULT NULL,
  `child_safety_policy_available` tinyint(1) DEFAULT NULL,
  `posco_compliance_policy` tinyint(1) DEFAULT NULL,
  `anti_bullying_policy` tinyint(1) DEFAULT NULL,
  `mental_health_policy` tinyint(1) DEFAULT NULL,
  `teacher_background_verification_policy` tinyint(1) DEFAULT NULL,
  `total_schools_count` int(11) DEFAULT NULL,
  `cities_present_in` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`cities_present_in`)),
  `states_present_in` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`states_present_in`)),
  `national_presence` tinyint(1) DEFAULT NULL,
  `international_presence` tinyint(1) DEFAULT NULL,
  `flagship_schools` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`flagship_schools`)),
  `official_website` varchar(255) DEFAULT NULL,
  `admission_portal_url` varchar(255) DEFAULT NULL,
  `parent_portal_url` varchar(255) DEFAULT NULL,
  `student_portal_url` varchar(255) DEFAULT NULL,
  `mobile_app_available` tinyint(1) DEFAULT NULL,
  `average_rating` decimal(3,2) DEFAULT NULL,
  `total_reviews` int(11) DEFAULT NULL,
  `awards_and_recognition` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`awards_and_recognition`)),
  `schema_type` varchar(255) DEFAULT NULL,
  `meta_title` varchar(255) DEFAULT NULL,
  `meta_description` text DEFAULT NULL,
  `canonical_url` varchar(255) DEFAULT NULL,
  `claimed_by_organization` tinyint(1) DEFAULT NULL,
  `verification_status` varchar(255) NOT NULL DEFAULT 'Pending',
  `mandate_description` text DEFAULT NULL,
  `authority_type` varchar(255) DEFAULT NULL,
  `parent_ministry` varchar(255) DEFAULT NULL,
  `parent_ministry_or_department` text DEFAULT NULL,
  `established_by` varchar(255) DEFAULT NULL,
  `legal_act_reference` varchar(255) DEFAULT NULL,
  `headquarters_location` varchar(255) DEFAULT NULL,
  `jurisdiction_scope` varchar(255) DEFAULT NULL,
  `functions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`functions`)),
  `exam_types_conducted` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`exam_types_conducted`)),
  `evaluation_methods` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`evaluation_methods`)),
  `exams_conducted_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`exams_conducted_ids`)),
  `annual_exam_volume_estimate` varchar(255) DEFAULT NULL,
  `average_candidates_per_year` varchar(255) DEFAULT NULL,
  `exam_modes_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`exam_modes_supported`)),
  `question_bank_managed` tinyint(1) NOT NULL DEFAULT 0,
  `normalization_process_available` tinyint(1) NOT NULL DEFAULT 0,
  `multi_language_support` tinyint(1) NOT NULL DEFAULT 0,
  `remote_proctoring_supported` tinyint(1) NOT NULL DEFAULT 0,
  `exam_centres_management_type` varchar(255) DEFAULT NULL,
  `technology_partners` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`technology_partners`)),
  `logistics_partners` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`logistics_partners`)),
  `data_security_standards` varchar(255) DEFAULT NULL,
  `result_declaration_policy_summary` text DEFAULT NULL,
  `score_validity_period` varchar(255) DEFAULT NULL,
  `re_evaluation_allowed` tinyint(1) NOT NULL DEFAULT 0,
  `re_evaluation_process_summary` text DEFAULT NULL,
  `data_retention_policy` text DEFAULT NULL,
  `grievance_redressal_mechanism` text DEFAULT NULL,
  `candidate_portal_url` varchar(255) DEFAULT NULL,
  `helpdesk_contact_number` varchar(255) DEFAULT NULL,
  `helpdesk_email` varchar(255) DEFAULT NULL,
  `official_notifications_urls` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`official_notifications_urls`)),
  `faq_url` varchar(255) DEFAULT NULL,
  `rti_applicable` tinyint(1) NOT NULL DEFAULT 0,
  `audit_conducted` tinyint(1) NOT NULL DEFAULT 0,
  `exam_fairness_policy` text DEFAULT NULL,
  `anti_malpractice_measures` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`anti_malpractice_measures`)),
  `whistleblower_policy_available` tinyint(1) NOT NULL DEFAULT 0,
  `awards_or_recognition` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`awards_or_recognition`)),
  `media_mentions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`media_mentions`)),
  `public_trust_score` int(11) DEFAULT NULL,
  `focus_keywords` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`focus_keywords`)),
  `claimed_by_authority` tinyint(1) NOT NULL DEFAULT 0,
  `data_source` varchar(255) DEFAULT NULL,
  `confidence_score` int(11) DEFAULT NULL,
  `last_updated_on` timestamp NULL DEFAULT NULL,
  `legal_reference_document_url` varchar(255) DEFAULT NULL,
  `jurisdiction_states` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`jurisdiction_states`)),
  `counselling_types_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`counselling_types_supported`)),
  `education_domains_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`education_domains_supported`)),
  `levels_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`levels_supported`)),
  `exams_used_for_counselling_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`exams_used_for_counselling_ids`)),
  `allocation_basis` varchar(255) DEFAULT NULL,
  `rank_source_validation_required` tinyint(1) NOT NULL DEFAULT 0,
  `multiple_exam_support` tinyint(1) NOT NULL DEFAULT 0,
  `seat_matrix_management` tinyint(1) NOT NULL DEFAULT 0,
  `seat_matrix_source` varchar(255) DEFAULT NULL,
  `quota_types_managed` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`quota_types_managed`)),
  `reservation_policy_reference` text DEFAULT NULL,
  `seat_conversion_rules_supported` tinyint(1) NOT NULL DEFAULT 0,
  `rounds_supported` varchar(255) DEFAULT NULL,
  `round_types` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`round_types`)),
  `choice_locking_mandatory` tinyint(1) NOT NULL DEFAULT 0,
  `seat_upgradation_allowed` tinyint(1) NOT NULL DEFAULT 0,
  `withdrawal_rules_summary` text DEFAULT NULL,
  `exit_rules_summary` text DEFAULT NULL,
  `counselling_fee_collection_supported` tinyint(1) NOT NULL DEFAULT 0,
  `fee_collection_mode` varchar(255) DEFAULT NULL,
  `refund_processing_responsibility` varchar(255) DEFAULT NULL,
  `security_deposit_handling` tinyint(1) NOT NULL DEFAULT 0,
  `counselling_portal_url` varchar(255) DEFAULT NULL,
  `candidate_login_system_available` tinyint(1) NOT NULL DEFAULT 0,
  `choice_filling_system_available` tinyint(1) NOT NULL DEFAULT 0,
  `auto_seat_allocation_engine` tinyint(1) NOT NULL DEFAULT 0,
  `api_integration_supported` tinyint(1) NOT NULL DEFAULT 0,
  `institution_reporting_interface_available` tinyint(1) NOT NULL DEFAULT 0,
  `document_verification_mode` varchar(255) DEFAULT NULL,
  `institution_confirmation_process_summary` text DEFAULT NULL,
  `mis_reporting_controls` text DEFAULT NULL,
  `appeal_process_summary` text DEFAULT NULL,
  `grievance_contact_details` text DEFAULT NULL,
  `candidate_guidelines_url` varchar(255) DEFAULT NULL,
  `years_of_operation` int(11) DEFAULT NULL,
  `counselling_functions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`counselling_functions`)),
  `counselling_levels_supported` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`counselling_levels_supported`)),
  `annual_candidate_volume` text DEFAULT NULL,
  `institutions_covered_count` int(11) DEFAULT NULL,
  `states_covered_count` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `organisations_slug_unique` (`slug`),
  KEY `universities_organisation_type_id_foreign` (`organisation_type_id`),
  CONSTRAINT `universities_organisation_type_id_foreign` FOREIGN KEY (`organisation_type_id`) REFERENCES `organisation_types` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organisations`
--

LOCK TABLES `organisations` WRITE;
/*!40000 ALTER TABLE `organisations` DISABLE KEYS */;
/*!40000 ALTER TABLE `organisations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-30 11:06:18
